body{
    margin: 0px;
    padding: 0px;
}
.first{
    height: 100px;
    width: 10%;
    float: left;
    background-color: red;
}
.sec{
    height: 100px;
    width: 10%;
    float: left;
    background-color: green;
}