body{
    margin: 0px;
    padding: 0px;
    background-color: #EEE;
}
.cards{
    height: 350px;
    background-color: #fff;
    margin-top: 5%;
    border-radius: 7px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.menu{
    height: 60px;
    background-color: blue;
    padding-top: 12px;
}
.menu nav ul li{
    display: inline-block;
}
.menu nav ul li .nav{
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    font-weight: 500;
    padding: 4px 7px 6px 7px;
}
.menu nav ul li .nav:hover{
    background-color: #fff;
    color: blue;
    transition: all 2s;
    border-radius: 5px;
}
.title{
    height: 100px;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.title h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 22px;
}
.card1{
    height: 350px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}